{% extends 'index.html' %}

{% block content %}
<p>welcome to home connected succiesfully</p>
<section class="about-area" id="about">
    <div class="text-part">
        <h1>Whats Digypyblog?</h1>
        <p>Digypyblog is a django REST Framework python blog created for understanding basic of DJANGO MVT </p>
    </div>
</section>
<section class="about-area" id="about">
    <div class="text-part">
        <h1>Whats Digypyblog?</h1>
        <p>Digypyblog is a django REST Framework python blog created for understanding basic of DJANGO MVT </p>
    </div>
</section>
{% endblock %}

