{% load static %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Digypyblog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body >
    <div class='navbar'>
        <a href='#' class='logo'>Digypyblog</a>
        <ul class='nav'>
            <li><a href="#home">Home</a></li>
            <li><a href="#posts">Posts</a></li>
            <li><a href="#signin">Signin</a></li>
            <li><a href="#login">Login</a></li>
        </ul>
    </div>
    <section class="banner-area" id="home">
    </section>
    
    <section class="about-area" id="about">
        <div class="text-part">
            <h1>About Area</h1>
            <p> </p>
        </div>
    </section>
    
    <section class="port-area" id="portfolio">
        <div class="text-part">
            <h1>Portfolio Area</h1>
            <p></p>
        </div>
    </section>
    
    <section class="service-area" id="services">
        <div class="text-part">
            <h1></h1>
            <p></p>
        </div>
    </section>
    
    <section class="contact-area" id="contact">
        <div class="text-part">
            <h1></h1>
            <p></p>
        </div>
    </section>
</body>
<script>

</script>
</html>