{% extends 'index.html' %}

{% block content %}

<section class="port-area" id="portfolio">
    <div class="text-part">
        <h1>What is MVT</h1>
        <P>The MVT (Model View Template) is a software design pattern. It is a collection of three important components Model View and Template. The Model helps to handle database. It is a data access layer which handles the data</P>
        <section class="banner-area" id="home">

        </section>
    </div>
</section>
{% endblock %}
