{% load static %}
{% static "img" as baseUrl %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Digypyblog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body >
    <div class='navbar'>
        <a href="{% url 'index' %}" class='logo'>Digypyblog</a>
        <ul class='nav'>
            <li><a href="{% url 'Post' %}">Post</a></li>
            <li><a href="{% url 'MVT' %}">MVT</a></li>
            <li><a href="{% url 'Signup' %}">Signup</a></li>
            <li><a href="{% url 'Login' %}">Login</a></li>
           
        </ul>
    </div>
    
    <section class="about-area" id="about">
        <div class="text-part">
            <h1>{{viewpost1.name}}</h1>
            <p>{{viewpost1.desc}}</p>
            <img src="{{baseUrl}}/{{viewpost1.img}}" alt="" >
        </div>
    </section>
</body>
<script>

</script>
</html>